{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.
{deps, [
  {nksip, {git, "https://github.com/netcomposer/nksip", {tag, "v0.6.0"}}}
  %% Directly in the project are used:
  %% lager;
  %% cowboy;
  %% jsone.
  %% They are also needed for NKSip to work and are installed with it.
]}.
{pre_hooks, [
  {"linux", compile, "make -C c_src"},
  {"linux", compile, "chmod +x voice_client"}
]}.
{relx, [{release, {webRTP, "0.1.0"},
         [webRTP,
          sasl]},

        {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.
